USE [ProjectManagement]
GO
/****** Object:  Table [dbo].[FRM_FIRM]    Script Date: 19.08.2017 16:57:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRM_FIRM](
	[ID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FRM_FIRM_ID]  DEFAULT (newid()),
	[NAME] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CITYID] [tinyint] NOT NULL,
	[DISTRICTID] [smallint] NOT NULL,
	[ADDRESS] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_FRM_FIRM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEM_LANGUAGE]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEM_LANGUAGE](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MEM_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEM_TYPEUSER]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEM_TYPEUSER](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MEM_TYPEUSER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEM_USER]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEM_USER](
	[ID] [uniqueidentifier] NOT NULL,
	[MAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[CREATEDATE] [datetime] NULL,
	[TYPEUSERID] [tinyint] NOT NULL,
	[ISADMIN] [bit] NOT NULL,
	[PHONE] [nvarchar](50) NULL,
	[STATUS] [bit] NOT NULL,
	[FIRMID] [uniqueidentifier] NULL,
	[LANGUAGEID] [tinyint] NULL,
 CONSTRAINT [PK_MEM_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_PROJECT]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_PROJECT](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[TYPEPROJECTSTATUSID] [tinyint] NOT NULL,
	[FIRMID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PRJ_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_PROJECTTASK]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_PROJECTTASK](
	[ID] [uniqueidentifier] NOT NULL,
	[PROJECTID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](500) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[TYPEPROJECTTASKSTATUSID] [tinyint] NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[DUEDATE] [datetime] NULL,
 CONSTRAINT [PK_PRJ_PROJECTTASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_PROJECTTASKRESOURSE]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_PROJECTTASKRESOURSE](
	[ID] [uniqueidentifier] NOT NULL,
	[PROJECTTASKID] [uniqueidentifier] NOT NULL,
	[USERID] [uniqueidentifier] NOT NULL,
	[DURATION] [tinyint] NULL,
	[TYPEPROJECTRESOURSESTATUSID] [tinyint] NOT NULL,
 CONSTRAINT [PK_PRJ_PROJECTTASKRESOURSE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_PROJECTTASKUSERACTIVITY]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_PROJECTTASKUSERACTIVITY](
	[ID] [uniqueidentifier] NOT NULL,
	[RESOURSEDURATION] [tinyint] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[DATE] [datetime] NOT NULL,
	[PROJECTTASKRESOURSEID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PRJ_PROJECTTASKUSERACTIVITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_TYPEPROJECTSTATUS]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_TYPEPROJECTSTATUS](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SORT] [tinyint] NOT NULL,
	[ISOPEN] [bit] NOT NULL,
 CONSTRAINT [PK_PRJ_TYPEPROJECTSTATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SORT] [tinyint] NOT NULL,
	[ISOPEN] [bit] NOT NULL,
 CONSTRAINT [PK_PRJ_TYPEPROJECTTASKRESOURSESTATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRJ_TYPEPROJECTTASKSTATUS]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRJ_TYPEPROJECTTASKSTATUS](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SORT] [tinyint] NOT NULL,
	[ISOPEN] [bit] NOT NULL,
 CONSTRAINT [PK_PRJ_TYPEPROJECTTASKSTATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQ_REQUEST]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_REQUEST](
	[ID] [uniqueidentifier] NOT NULL,
	[PROJECTID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
	[TYPEREQUESTID] [tinyint] NOT NULL,
	[USERID] [uniqueidentifier] NOT NULL,
	[REQUESTDATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_REQ_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQ_REQUESTDETAIL]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_REQUESTDETAIL](
	[ID] [uniqueidentifier] NOT NULL,
	[REQUESTID] [uniqueidentifier] NOT NULL,
	[USERID] [uniqueidentifier] NOT NULL,
	[MESSAGE] [nvarchar](500) NOT NULL,
	[DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_REQ_REQUESTDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQ_TYPEREQUEST]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TYPEREQUEST](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SORT] [tinyint] NOT NULL,
	[ISOPEN] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TYPEREQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_CITY]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CITY](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SYS_CITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_DISTRICT]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DISTRICT](
	[ID] [smallint] NOT NULL,
	[CITYID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SYS_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_FRM_Firm]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_FRM_Firm]
AS
SELECT       f.*
			,c.NAME AS FIRMCITYNAME
			,d.NAME AS FIRMDISTRICTNAME
FROM	dbo.FRM_FIRM AS f 
		INNER JOIN dbo.SYS_CITY AS c ON f.CITYID = c.ID
		INNER JOIN dbo.SYS_DISTRICT AS d ON d.ID = f.DISTRICTID






GO
/****** Object:  View [dbo].[VW_MEM_User]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_MEM_User]
AS
SELECT usr.*,
	   lng.NAME AS LANGUAGENAME,
	   typusr.NAME AS TYPEUSERNAME,
	   frm.NAME AS FIRMNAME

FROM MEM_USER usr 
     INNER JOIN FRM_FIRM frm ON usr.FIRMID=frm.ID
	 INNER JOIN MEM_LANGUAGE lng ON usr.LANGUAGEID=lng.ID
	 INNER JOIN MEM_TYPEUSER typusr ON usr.TYPEUSERID=typusr.ID





GO
/****** Object:  View [dbo].[VW_PRJ_Project]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_PRJ_Project]
AS
SELECT       p.*
			,tps.ISOPEN AS TYPEPROJECTSTATUSISOPEN
			,tps.NAME AS TYPEPROJECTSTATUSNAME
			,f.NAME AS FIRMNAME
			,f.DESCRIPTION AS FIRMDESCRIPTION
			,f.CITYID AS FIRMCITYID
			,f.DISTRICTID AS FIRMDISTRICTID
			,f.ADDRESS AS FIRMADDRESS
			,c.NAME AS CITYNAME
			,cd.NAME AS DISTRICTNAME
FROM	dbo.PRJ_PROJECT AS p
		INNER JOIN dbo.PRJ_TYPEPROJECTSTATUS AS tps ON tps.ID = p.TYPEPROJECTSTATUSID
		LEFT JOIN dbo.FRM_FIRM AS f ON f.ID = p.FIRMID
		LEFT JOIN dbo.SYS_CITY AS c ON c.ID = f.CITYID
		LEFT JOIN dbo.SYS_DISTRICT AS cd ON cd.ID = f.DISTRICTID






GO
/****** Object:  View [dbo].[VW_PRJ_ProjectMyTasks]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_PRJ_ProjectMyTasks]
AS
SELECT          tskrsrs.ID AS PROJECTTASKRESOURSEID,
                usr.ID AS USERID,
                usr.NAME + ' ' + usr.SURNAME AS USERFULLNAME,
				frm.ID AS FIRMID,
				frm.NAME AS FIRMNAME,
				prj.ID AS PROJECTID,
				prj.NAME AS PROJECTNAME,
				prj.TYPEPROJECTSTATUSID,
				typprj.NAME AS TYPEPROJECTSTATUSNAME,
				prjtsk.ID AS PROJECTTASKID,
				prjtsk.NAME AS PROJECTTASKNAME,
				prjtsk.CREATEDATE AS PROJECTTASKCREATEDATE,
				prjtsk.DUEDATE AS PROJECTTASKDUEDATE,
				prjtsk.TYPEPROJECTTASKSTATUSID,
				typtsk.NAME AS TYPEPROJECTTASKSTATUSNAME,
				typtsk.ISOPEN AS TYPEPROJECTTASKSTATUSISOPEN

FROM            PRJ_PROJECTTASKRESOURSE tskrsrs               
				INNER JOIN PRJ_TYPEPROJECTTASKRESOURSESTATUS typtskrsrs ON tskrsrs.TYPEPROJECTRESOURSESTATUSID=typtskrsrs.ID
				INNER JOIN PRJ_PROJECTTASK prjtsk ON tskrsrs.PROJECTTASKID=prjtsk.ID 
				INNER JOIN PRJ_TYPEPROJECTTASKSTATUS typtsk ON prjtsk.TYPEPROJECTTASKSTATUSID=typtsk.ID
				INNER JOIN PRJ_PROJECT prj ON prjtsk.PROJECTID=prj.ID 
				INNER JOIN PRJ_TYPEPROJECTSTATUS typprj ON prj.TYPEPROJECTSTATUSID=typprj.ID
				INNER JOIN FRM_FIRM frm ON prj.FIRMID=frm.ID
				INNER JOIN MEM_USER usr ON tskrsrs.USERID=usr.ID






GO
/****** Object:  View [dbo].[VW_PRJ_ProjectTask]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[VW_PRJ_ProjectTask]
AS
SELECT        pt.ID, pt.PROJECTID, 
              pt.NAME, pt.DESCRIPTION, 
			  pt.TYPEPROJECTTASKSTATUSID,
			  pt.CREATEDATE, 
			  pt.DUEDATE,
			  pts.NAME AS TYPEPROJECTTASKSTATUSNAME,
			  Pts.ISOPEN AS TYPEPROJECTTASKSTATUSISOPEN,
			  p.NAME AS PROJECTNAME
			  
FROM            dbo.PRJ_PROJECTTASK AS pt INNER JOIN
                dbo.PRJ_TYPEPROJECTTASKSTATUS AS pts ON pts.ID = pt.TYPEPROJECTTASKSTATUSID INNER JOIN
                dbo.PRJ_PROJECT AS p ON p.ID = pt.PROJECTID








GO
/****** Object:  View [dbo].[VW_PRJ_ProjectTaskResource]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PRJ_ProjectTaskResource]
AS
SELECT        ptr.ID, ptr.PROJECTTASKID, ptr.USERID, ptr.DURATION, ptr.TYPEPROJECTRESOURSESTATUSID, pt.NAME AS PROJECTTASKNAME, pt.CREATEDATE AS PROJECTTASKCREATEDATE, 
                         u.NAME + ' ' + u.SURNAME AS USERFULLNAME, ptrtype.NAME AS TYPEPROJECTRESOURSESTATUSNAME
FROM            dbo.PRJ_PROJECTTASKRESOURSE AS ptr INNER JOIN
                         dbo.PRJ_PROJECTTASK AS pt ON pt.ID = ptr.PROJECTTASKID INNER JOIN
                         dbo.MEM_USER AS u ON u.ID = ptr.USERID INNER JOIN
                         dbo.PRJ_TYPEPROJECTTASKRESOURSESTATUS AS ptrtype ON ptrtype.ID = ptr.TYPEPROJECTRESOURSESTATUSID




GO
/****** Object:  View [dbo].[VW_PRJ_ProjectTaskUserActivity]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_PRJ_ProjectTaskUserActivity]
AS
SELECT ptrusr.*,
       rsr.USERID,
	   pt.ID AS PROJECTTASKID,
       pt.NAME AS PROJECTTASKNAME,
	   pt.PROJECTID,
	   p.NAME AS PROJECTNAME

FROM PRJ_PROJECTTASKUSERACTIVITY ptrusr
     INNER JOIN PRJ_PROJECTTASKRESOURSE rsr ON ptrusr.PROJECTTASKRESOURSEID=rsr.ID
     INNER JOIN MEM_USER usr ON rsr.USERID=usr.ID
	 INNER JOIN PRJ_PROJECTTASK pt ON rsr.PROJECTTASKID=pt.ID 
	 INNER JOIN PRJ_PROJECT p ON pt.PROJECTID=p.ID






GO
/****** Object:  View [dbo].[VW_PRJ_UserFullName]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_PRJ_UserFullName]
AS
SELECT        u.ID, 
              u.NAME + ' ' + u.SURNAME AS USERFULLNAME,
			  typ.ID AS TYPEUSERID
              
FROM            dbo.MEM_USER AS u
                INNER JOIN MEM_TYPEUSER typ ON u.TYPEUSERID=typ.ID





GO
/****** Object:  View [dbo].[VW_REQ_Request]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[VW_REQ_Request]
AS
SELECT rqt.*, 
       prj.NAME AS PROJECTNAME,
	   typ.NAME AS TYPEREQUESTSTATUSNAME,
	   typ.ISOPEN,
	   usr.NAME + ' ' + usr.SURNAME AS USERFULLNAME
FROM  REQ_REQUEST rqt 
	  INNER JOIN REQ_TYPEREQUEST typ ON rqt.TYPEREQUESTID=typ.ID
	  INNER JOIN MEM_USER usr ON rqt.USERID=usr.ID
	  INNER JOIN PRJ_PROJECT prj ON rqt.PROJECTID=prj.ID









GO
/****** Object:  View [dbo].[VW_REQ_RequestDetailUser]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[VW_REQ_RequestDetailUser]
AS
SELECT rqtdtl.ID, 
       rqtdtl.DATE,
       rqtdtl.MESSAGE,
	   rqtdtl.REQUESTID,
       usr.ID AS USERID,
       usr.NAME + ' ' + usr.SURNAME AS USERFULLNAME,
	   CASE WHEN rqt.USERID=rqtdtl.USERID THEN 'row MMFR' ELSE 'row MMFL' END AS CLASS,
	   CASE WHEN rqt.USERID=rqtdtl.USERID THEN '/assets/img/avatar1_small.jpg' ELSE '/assets/img/chat-avatar2.jpg' END AS PICTURE
	   
FROM  REQ_REQUESTDETAIL rqtdtl 
	  INNER JOIN REQ_REQUEST rqt ON rqtdtl.REQUESTID=rqt.ID
      INNER JOIN MEM_USER usr ON rqtdtl.USERID=usr.ID 










GO
/****** Object:  View [dbo].[VW_RPT_ReportFirm]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_RPT_ReportFirm]
AS
SELECT      f.*,
			c.NAME AS FIRMCITYNAME,
			d.NAME AS FIRMDISTRICTNAME
FROM	
        dbo.FRM_FIRM f
		INNER JOIN dbo.SYS_CITY c ON f.CITYID = c.ID
		INNER JOIN dbo.SYS_DISTRICT d ON d.ID = f.DISTRICTID
WHERE EXISTS ( SELECT * FROM PRJ_PROJECT P WHERE F.ID=P.FIRMID)



GO
/****** Object:  View [dbo].[VW_RPT_ReportProject]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_RPT_ReportProject]
AS
SELECT      	prj.ID AS PROJECTID,
                frm.ID AS FIRMID,
                frm.NAME AS FIRMNAME,
				prj.NAME AS PROJECTNAME,
				typprj.NAME AS TYPEPROJECTSTATUSNAME,
				typprj.ISOPEN AS TYPEPROJECTSTATUSISOPEN

FROM            PRJ_PROJECT prj
                INNER JOIN PRJ_TYPEPROJECTSTATUS typprj ON prj.TYPEPROJECTSTATUSID=typprj.ID
				INNER JOIN FRM_FIRM frm ON prj.FIRMID=frm.ID







GO
/****** Object:  View [dbo].[VW_RPT_ReportResourse]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_RPT_ReportResourse]
AS
SELECT                   u.ID AS USERID,
                         u.NAME+' '+u.SURNAME AS USERFULLNAME,
						 u.STATUS,
						 u.TYPEUSERID,
						 typ.NAME AS TYPEUSERNAME,
						 lng.NAME AS LANGUAGENAME

FROM                     
						 dbo.MEM_USER u 
						 INNER JOIN MEM_LANGUAGE lng ON u.LANGUAGEID=lng.ID
						 INNER JOIN MEM_TYPEUSER typ ON u.TYPEUSERID=typ.ID







GO
/****** Object:  View [dbo].[VW_RPT_ReportResourseActivity]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[VW_RPT_ReportResourseActivity]
AS
SELECT prjtskrsrs.USERID,
       act.DESCRIPTION,
       tsk.NAME AS PROJECTTASKNAME,
	   typ.NAME AS TYPEPROJECTTASKRESOURSESTATUSNAME,
	   act.DATE,
	   act.RESOURSEDURATION

FROM  PRJ_PROJECTTASKUSERACTIVITY act 
      INNER JOIN PRJ_PROJECTTASKRESOURSE prjtskrsrs ON act.PROJECTTASKRESOURSEID=prjtskrsrs.ID 
	  INNER JOIN PRJ_TYPEPROJECTTASKRESOURSESTATUS typ ON prjtskrsrs.TYPEPROJECTRESOURSESTATUSID=TYP.ID
	  INNER JOIN PRJ_PROJECTTASK tsk ON tsk.ID=prjtskrsrs.PROJECTTASKID













GO
/****** Object:  View [dbo].[VW_RPT_ReportTasks]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_RPT_ReportTasks]
AS
	SELECT      	prjtsk.PROJECTID,
					prjtsk.ID AS PROJECTTASKID,
					prjtsk.NAME AS PROJECTTASKNAME,
					prjtsk.CREATEDATE AS PROJECTTASKCREATEDATE,
					prjtsk.DUEDATE AS PROJECTTASKDUEDATE,
					typtsk.NAME AS TYPEPROJECTTASKSTATUSNAME,
					typtsk.ISOPEN AS TYPEPROJECTTASKSTATUSISOPEN

	FROM            PRJ_PROJECTTASK prjtsk 
					INNER JOIN  PRJ_TYPEPROJECTTASKSTATUS typtsk ON prjtsk.TYPEPROJECTTASKSTATUSID=typtsk.ID







GO
/****** Object:  View [dbo].[VW_SYS_CityDistrict]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_SYS_CityDistrict]
AS
	SELECT 
		d.ID
		,d.CITYID
		,d.NAME
		,c.NAME AS CITYNAME
	FROM SYS_DISTRICT d
	INNER JOIN SYS_CITY c ON c.ID = d.CITYID




GO
INSERT [dbo].[FRM_FIRM] ([ID], [NAME], [DESCRIPTION], [CITYID], [DISTRICTID], [ADDRESS]) VALUES (N'8cac0b27-97f1-45be-8eca-00f1eb2d63d6', N'Wiki Software', N'-', 1, 12, N'REŞATBEY MH. 62031 SK. HAS APT. B BLOK ASMA KAT DAIRE 1 - SEYHAN/ADANA, 01120')
INSERT [dbo].[FRM_FIRM] ([ID], [NAME], [DESCRIPTION], [CITYID], [DISTRICTID], [ADDRESS]) VALUES (N'103994c9-7ebc-4d7a-91e2-464bd251e24d', N'Microsoft', N'-', 40, 450, N'Levent Mahallesi, Aydın Sokak Bellevue Residences No:7, 34340 ')
INSERT [dbo].[FRM_FIRM] ([ID], [NAME], [DESCRIPTION], [CITYID], [DISTRICTID], [ADDRESS]) VALUES (N'24691094-252c-4c85-a8a6-b4faa2430917', N'2 Adam Yazılım Ve Teknoloji', N'-', 1, 3, N'Ziyapaşa Mh. 67041 Sk Keçelioğlu Apt K1 D1, Hastaneler Kavşağı, Ziraat Bankası Üstü, 01141')
INSERT [dbo].[MEM_LANGUAGE] ([ID], [NAME]) VALUES (1, N'Türkçe')
INSERT [dbo].[MEM_LANGUAGE] ([ID], [NAME]) VALUES (2, N'İnglizce')
INSERT [dbo].[MEM_LANGUAGE] ([ID], [NAME]) VALUES (3, N'Arapça')
INSERT [dbo].[MEM_TYPEUSER] ([ID], [NAME]) VALUES (1, N'Çalışan')
INSERT [dbo].[MEM_TYPEUSER] ([ID], [NAME]) VALUES (2, N'Müşteri')
INSERT [dbo].[MEM_USER] ([ID], [MAIL], [PASSWORD], [NAME], [SURNAME], [CREATEDATE], [TYPEUSERID], [ISADMIN], [PHONE], [STATUS], [FIRMID], [LANGUAGEID]) VALUES (N'c3032b2e-6dd0-4a73-9308-25edb59065f5', N'mevlüt@prm.com', N'C4CA4238A0B923820DCC509A6F75849B', N'MEVLÜT', N'SONER', CAST(N'2017-05-20 00:00:00.000' AS DateTime), 1, 0, N'05352154625', 1, N'103994c9-7ebc-4d7a-91e2-464bd251e24d', 1)
INSERT [dbo].[MEM_USER] ([ID], [MAIL], [PASSWORD], [NAME], [SURNAME], [CREATEDATE], [TYPEUSERID], [ISADMIN], [PHONE], [STATUS], [FIRMID], [LANGUAGEID]) VALUES (N'56824c9a-82ba-458b-a17b-4091705f3742', N'yusuf@prm.com', N'C4CA4238A0B923820DCC509A6F75849B', N'YUSUF', N'AKDEMİR', CAST(N'2017-05-20 00:00:00.000' AS DateTime), 2, 0, N'05231221130', 1, N'cc9214f6-0bc8-4226-bae7-c1dd87d1600b', 1)
INSERT [dbo].[MEM_USER] ([ID], [MAIL], [PASSWORD], [NAME], [SURNAME], [CREATEDATE], [TYPEUSERID], [ISADMIN], [PHONE], [STATUS], [FIRMID], [LANGUAGEID]) VALUES (N'642b5456-ad18-4ee6-a69f-6a97bb613322', N'cansu@prm.com', N'C4CA4238A0B923820DCC509A6F75849B', N'CANSU', N'DOĞAN', CAST(N'2017-08-10 00:00:00.000' AS DateTime), 1, 1, N'05342312581', 1, N'103994c9-7ebc-4d7a-91e2-464bd251e24d', 1)
INSERT [dbo].[PRJ_PROJECT] ([ID], [NAME], [DESCRIPTION], [TYPEPROJECTSTATUSID], [FIRMID]) VALUES (N'e5f54625-4731-4959-b1d2-629492eee5be', N'Project And Request Managament', N'qwewq', 1, N'24691094-252c-4c85-a8a6-b4faa2430917')
INSERT [dbo].[PRJ_PROJECT] ([ID], [NAME], [DESCRIPTION], [TYPEPROJECTSTATUSID], [FIRMID]) VALUES (N'd21fbe8d-9b00-4a01-8c34-c3328b5f9b0e', N'Library Automation', N'-', 1, N'cc9214f6-0bc8-4226-bae7-c1dd87d1600b')
INSERT [dbo].[PRJ_PROJECTTASK] ([ID], [PROJECTID], [NAME], [DESCRIPTION], [TYPEPROJECTTASKSTATUSID], [CREATEDATE], [DUEDATE]) VALUES (N'802d960f-3c4e-4619-84a2-59d66c3f1575', N'e5f54625-4731-4959-b1d2-629492eee5be', N'Procedure yazma', N'-', 1, CAST(N'2017-05-21 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PRJ_PROJECTTASK] ([ID], [PROJECTID], [NAME], [DESCRIPTION], [TYPEPROJECTTASKSTATUSID], [CREATEDATE], [DUEDATE]) VALUES (N'750f5392-2c5f-4477-b68d-63a03bbf9aac', N'd21fbe8d-9b00-4a01-8c34-c3328b5f9b0e', N'Session-Cookie ayarlama', N'-', 1, CAST(N'2017-06-04 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PRJ_PROJECTTASK] ([ID], [PROJECTID], [NAME], [DESCRIPTION], [TYPEPROJECTTASKSTATUSID], [CREATEDATE], [DUEDATE]) VALUES (N'a5e4314e-3b06-4779-8c6b-83be563d2e6b', N'e5f54625-4731-4959-b1d2-629492eee5be', N'Jquery Datetimepicker ayarlama', N'-', 1, CAST(N'2017-05-30 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PRJ_PROJECTTASKRESOURSE] ([ID], [PROJECTTASKID], [USERID], [DURATION], [TYPEPROJECTRESOURSESTATUSID]) VALUES (N'78715880-ba2c-498f-af7d-7e668cf6279a', N'750f5392-2c5f-4477-b68d-63a03bbf9aac', N'0a3c608d-ff70-4208-9dd3-eeb93e6ad89f', 3, 3)
INSERT [dbo].[PRJ_PROJECTTASKRESOURSE] ([ID], [PROJECTTASKID], [USERID], [DURATION], [TYPEPROJECTRESOURSESTATUSID]) VALUES (N'08ff7c1a-516b-4b57-a807-9717506d6d5d', N'750f5392-2c5f-4477-b68d-63a03bbf9aac', N'a51d8eb0-dac1-4baa-bcff-dbf37143e136', 3, 1)
INSERT [dbo].[PRJ_PROJECTTASKUSERACTIVITY] ([ID], [RESOURSEDURATION], [DESCRIPTION], [DATE], [PROJECTTASKRESOURSEID]) VALUES (N'8249b3a1-383a-44c4-8445-63e0cd600bec', 1, N'k', CAST(N'2017-07-31 00:00:00.000' AS DateTime), N'78715880-ba2c-498f-af7d-7e668cf6279a')
INSERT [dbo].[PRJ_PROJECTTASKUSERACTIVITY] ([ID], [RESOURSEDURATION], [DESCRIPTION], [DATE], [PROJECTTASKRESOURSEID]) VALUES (N'8db35ba3-1495-4f86-a2ba-7c132d40b65d', 2, N'-', CAST(N'2017-05-31 00:00:00.000' AS DateTime), N'78715880-ba2c-498f-af7d-7e668cf6279a')
INSERT [dbo].[PRJ_PROJECTTASKUSERACTIVITY] ([ID], [RESOURSEDURATION], [DESCRIPTION], [DATE], [PROJECTTASKRESOURSEID]) VALUES (N'0e4cd5e5-30b4-4529-bfbf-9220ea2e749f', 2, N'-', CAST(N'2017-05-30 00:00:00.000' AS DateTime), N'78715880-ba2c-498f-af7d-7e668cf6279a')
INSERT [dbo].[PRJ_TYPEPROJECTSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (1, N'Yeni Proje', 1, 1)
INSERT [dbo].[PRJ_TYPEPROJECTSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (2, N'Durduruldu', 2, 0)
INSERT [dbo].[PRJ_TYPEPROJECTSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (3, N'Başlamadı', 3, 0)
INSERT [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (1, N'Başlatıldı', 1, 1)
INSERT [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (2, N'Duraklatıldı', 2, 0)
INSERT [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (3, N'Tamamlandı', 3, 0)
INSERT [dbo].[PRJ_TYPEPROJECTTASKSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (1, N'Yeni Görev', 1, 1)
INSERT [dbo].[PRJ_TYPEPROJECTTASKSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (2, N'Durduruldu', 2, 0)
INSERT [dbo].[PRJ_TYPEPROJECTTASKSTATUS] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (3, N'Başlamadı', 3, 0)
INSERT [dbo].[REQ_REQUEST] ([ID], [PROJECTID], [NAME], [TYPEREQUESTID], [USERID], [REQUESTDATE], [DESCRIPTION]) VALUES (N'94280992-ffd9-42cd-9360-5fd1071fe19c', N'd21fbe8d-9b00-4a01-8c34-c3328b5f9b0e', N'Login-Logout', 2, N'bb6c411f-3433-4c9f-94d0-c614994ff94a', CAST(N'2017-05-20 19:36:00.177' AS DateTime), N'Login işleminde sorun var.')
INSERT [dbo].[REQ_REQUEST] ([ID], [PROJECTID], [NAME], [TYPEREQUESTID], [USERID], [REQUESTDATE], [DESCRIPTION]) VALUES (N'57c17ad9-d6bb-498d-931f-e4de9f09b10d', N'd21fbe8d-9b00-4a01-8c34-c3328b5f9b0e', N'Arayüz', 1, N'02d32aac-c08c-4d5e-851c-9d8b91914cc8', CAST(N'2017-05-22 19:05:43.720' AS DateTime), N'adsf')
INSERT [dbo].[REQ_REQUESTDETAIL] ([ID], [REQUESTID], [USERID], [MESSAGE], [DATE]) VALUES (N'00bc200b-c924-4df2-beec-7af1a135a85c', N'94280992-ffd9-42cd-9360-5fd1071fe19c', N'c3032b2e-6dd0-4a73-9308-25edb59065f5', N'Selammm', CAST(N'2017-06-29 17:44:37.937' AS DateTime))
INSERT [dbo].[REQ_REQUESTDETAIL] ([ID], [REQUESTID], [USERID], [MESSAGE], [DATE]) VALUES (N'b4211a02-b80c-499e-a238-a22bf52e2233', N'94280992-ffd9-42cd-9360-5fd1071fe19c', N'a51d8eb0-dac1-4baa-bcff-dbf37143e136', N'Sorun giderildi.', CAST(N'2017-05-20 19:36:44.070' AS DateTime))
INSERT [dbo].[REQ_REQUESTDETAIL] ([ID], [REQUESTID], [USERID], [MESSAGE], [DATE]) VALUES (N'f278939e-44b5-4691-b029-ada227545a9f', N'57c17ad9-d6bb-498d-931f-e4de9f09b10d', N'02d32aac-c08c-4d5e-851c-9d8b91914cc8', N'teşekkürler', CAST(N'2017-05-22 19:06:43.490' AS DateTime))
INSERT [dbo].[REQ_TYPEREQUEST] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (1, N'Yeni Talep', 1, 1)
INSERT [dbo].[REQ_TYPEREQUEST] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (2, N'Devam Ediliyor', 2, 1)
INSERT [dbo].[REQ_TYPEREQUEST] ([ID], [NAME], [SORT], [ISOPEN]) VALUES (3, N'Tamamlandı', 3, 0)
INSERT [dbo].[SYS_CITY] ([ID], [NAME]) VALUES (1, N'Adana')
INSERT [dbo].[SYS_CITY] ([ID], [NAME]) VALUES (2, N'Adıyaman')
INSERT [dbo].[SYS_CITY] ([ID], [NAME]) VALUES (3, N'Afyonkarahisar')
INSERT [dbo].[SYS_DISTRICT] ([ID], [CITYID], [NAME]) VALUES (1, 1, N'Aladağ')
INSERT [dbo].[SYS_DISTRICT] ([ID], [CITYID], [NAME]) VALUES (2, 1, N'Ceyhan')
INSERT [dbo].[SYS_DISTRICT] ([ID], [CITYID], [NAME]) VALUES (3, 1, N'Çukurova')
GO
ALTER TABLE [dbo].[FRM_FIRM]  WITH CHECK ADD  CONSTRAINT [FK_FRM_FIRM_SYS_CITY] FOREIGN KEY([CITYID])
REFERENCES [dbo].[SYS_CITY] ([ID])
GO
ALTER TABLE [dbo].[FRM_FIRM] CHECK CONSTRAINT [FK_FRM_FIRM_SYS_CITY]
GO
ALTER TABLE [dbo].[FRM_FIRM]  WITH CHECK ADD  CONSTRAINT [FK_FRM_FIRM_SYS_DISTRICT] FOREIGN KEY([DISTRICTID])
REFERENCES [dbo].[SYS_DISTRICT] ([ID])
GO
ALTER TABLE [dbo].[FRM_FIRM] CHECK CONSTRAINT [FK_FRM_FIRM_SYS_DISTRICT]
GO
ALTER TABLE [dbo].[MEM_USER]  WITH CHECK ADD  CONSTRAINT [FK_MEM_USER_FRM_FIRM] FOREIGN KEY([FIRMID])
REFERENCES [dbo].[FRM_FIRM] ([ID])
GO
ALTER TABLE [dbo].[MEM_USER] CHECK CONSTRAINT [FK_MEM_USER_FRM_FIRM]
GO
ALTER TABLE [dbo].[MEM_USER]  WITH CHECK ADD  CONSTRAINT [FK_MEM_USER_MEM_LANGUAGE] FOREIGN KEY([LANGUAGEID])
REFERENCES [dbo].[MEM_LANGUAGE] ([ID])
GO
ALTER TABLE [dbo].[MEM_USER] CHECK CONSTRAINT [FK_MEM_USER_MEM_LANGUAGE]
GO
ALTER TABLE [dbo].[MEM_USER]  WITH CHECK ADD  CONSTRAINT [FK_MEM_USER_MEM_TYPEUSER] FOREIGN KEY([TYPEUSERID])
REFERENCES [dbo].[MEM_TYPEUSER] ([ID])
GO
ALTER TABLE [dbo].[MEM_USER] CHECK CONSTRAINT [FK_MEM_USER_MEM_TYPEUSER]
GO
ALTER TABLE [dbo].[PRJ_PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECT_FRM_FIRM] FOREIGN KEY([FIRMID])
REFERENCES [dbo].[FRM_FIRM] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECT] CHECK CONSTRAINT [FK_PRJ_PROJECT_FRM_FIRM]
GO
ALTER TABLE [dbo].[PRJ_PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECT_PRJ_TYPEPROJECTSTATUS] FOREIGN KEY([TYPEPROJECTSTATUSID])
REFERENCES [dbo].[PRJ_TYPEPROJECTSTATUS] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECT] CHECK CONSTRAINT [FK_PRJ_PROJECT_PRJ_TYPEPROJECTSTATUS]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASK]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASK_PRJ_PROJECT] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PRJ_PROJECT] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASK] CHECK CONSTRAINT [FK_PRJ_PROJECTTASK_PRJ_PROJECT]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASK]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASK_PRJ_TYPEPROJECTTASKSTATUS] FOREIGN KEY([TYPEPROJECTTASKSTATUSID])
REFERENCES [dbo].[PRJ_TYPEPROJECTTASKSTATUS] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASK] CHECK CONSTRAINT [FK_PRJ_PROJECTTASK_PRJ_TYPEPROJECTTASKSTATUS]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE]  WITH NOCHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_MEM_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[MEM_USER] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE] NOCHECK CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_MEM_USER]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_PRJ_PROJECTTASK] FOREIGN KEY([PROJECTTASKID])
REFERENCES [dbo].[PRJ_PROJECTTASK] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE] CHECK CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_PRJ_PROJECTTASK]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_PRJ_TYPEPROJECTTASKRESOURSESTATUS] FOREIGN KEY([TYPEPROJECTRESOURSESTATUSID])
REFERENCES [dbo].[PRJ_TYPEPROJECTTASKRESOURSESTATUS] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKRESOURSE] CHECK CONSTRAINT [FK_PRJ_PROJECTTASKRESOURSE_PRJ_TYPEPROJECTTASKRESOURSESTATUS]
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKUSERACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_PRJ_PROJECTTASKUSERACTIVITY_PRJ_PROJECTTASKRESOURSE] FOREIGN KEY([PROJECTTASKRESOURSEID])
REFERENCES [dbo].[PRJ_PROJECTTASKRESOURSE] ([ID])
GO
ALTER TABLE [dbo].[PRJ_PROJECTTASKUSERACTIVITY] CHECK CONSTRAINT [FK_PRJ_PROJECTTASKUSERACTIVITY_PRJ_PROJECTTASKRESOURSE]
GO
ALTER TABLE [dbo].[REQ_REQUEST]  WITH NOCHECK ADD  CONSTRAINT [FK_REQ_REQUEST_MEM_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[MEM_USER] ([ID])
GO
ALTER TABLE [dbo].[REQ_REQUEST] NOCHECK CONSTRAINT [FK_REQ_REQUEST_MEM_USER]
GO
ALTER TABLE [dbo].[REQ_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQ_REQUEST_PRJ_PROJECT] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PRJ_PROJECT] ([ID])
GO
ALTER TABLE [dbo].[REQ_REQUEST] CHECK CONSTRAINT [FK_REQ_REQUEST_PRJ_PROJECT]
GO
ALTER TABLE [dbo].[REQ_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQ_REQUEST_REQ_TYPEREQUEST] FOREIGN KEY([TYPEREQUESTID])
REFERENCES [dbo].[REQ_TYPEREQUEST] ([ID])
GO
ALTER TABLE [dbo].[REQ_REQUEST] CHECK CONSTRAINT [FK_REQ_REQUEST_REQ_TYPEREQUEST]
GO
ALTER TABLE [dbo].[REQ_REQUESTDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_REQ_REQUESTDETAIL_MEM_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[MEM_USER] ([ID])
GO
ALTER TABLE [dbo].[REQ_REQUESTDETAIL] NOCHECK CONSTRAINT [FK_REQ_REQUESTDETAIL_MEM_USER]
GO
ALTER TABLE [dbo].[REQ_REQUESTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REQ_REQUESTDETAIL_REQ_REQUEST] FOREIGN KEY([REQUESTID])
REFERENCES [dbo].[REQ_REQUEST] ([ID])
GO
ALTER TABLE [dbo].[REQ_REQUESTDETAIL] CHECK CONSTRAINT [FK_REQ_REQUESTDETAIL_REQ_REQUEST]
GO
ALTER TABLE [dbo].[SYS_DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_SYS_DISTRICT_SYS_CITY] FOREIGN KEY([CITYID])
REFERENCES [dbo].[SYS_CITY] ([ID])
GO
ALTER TABLE [dbo].[SYS_DISTRICT] CHECK CONSTRAINT [FK_SYS_DISTRICT_SYS_CITY]
GO
/****** Object:  StoredProcedure [dbo].[SP_PRJ_PROJECTTASKRESOURSE]    Script Date: 19.08.2017 16:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PRJ_PROJECTTASKRESOURSE]

@ID uniqueidentifier,
@PROJECTTASKID uniqueidentifier,
@USERID uniqueidentifier,
@DURATION tinyint,
@TYPEPROJECTRESOURSESTATUSID tinyint,
@ISCOMPLETE bit

AS

IF (EXISTS(SELECT * FROM PRJ_PROJECTTASKRESOURSE WHERE USERID=@USERID))
BEGIN
PRINT 'Bu görev bu çalışana eklenmiştir.'
END
BEGIN
INSERT INTO PRJ_PROJECTTASKRESOURSE (ID,PROJECTTASKID,USERID,DURATION,TYPEPROJECTRESOURSESTATUSID) VALUES (@ID,@PROJECTTASKID,@USERID,@DURATION,@TYPEPROJECTRESOURSESTATUSID)
END


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[10] 4[52] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tps"
            Begin Extent = 
               Top = 6
               Left = 293
               Bottom = 136
               Right = 463
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "f"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 234
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cd"
            Begin Extent = 
               Top = 234
               Left = 246
               Bottom = 347
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1545
         Alias = 2550
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_Project'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_Project'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_Project'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[5] 4[56] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "pts"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 268
               Right = 463
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pt"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 283
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_ProjectTask'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_ProjectTask'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[35] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ptr"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 310
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pt"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 283
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "u"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ptrtype"
            Begin Extent = 
               Top = 270
               Left = 246
               Bottom = 400
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2400
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_ProjectTaskResource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_ProjectTaskResource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2685
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_UserFullName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PRJ_UserFullName'
GO
