
<configuration>
  <appSettings>
    <add key="DBConnection" value="data source=DESKTOP-QJRHTLH;initial catalog=PRM.Web;user id=sa;password=123456;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  
  </system.webServer>
</configuration>